.imgContainer img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 32px;
}

.imgContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 64px;
  gap: 16px;
  background-color: black;
}

@media screen and (max-width: 600px) {
  .imgContainer {
    grid-template-columns: auto;
  }
}
