.finalContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 32px;
  background-color: red;
}

.servicesMainContainer {
  padding: 32px;
  background-color: red;
}

.listItems {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .servicesMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
