.mainContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background-color: red;
}

.container {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 16px;
}
