* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.finalContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 16px;
  gap: 32px;
}

.mainContainer {
  background-color: red;
  padding: 16px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.imgContainer img {
  width: 100%;
  border-radius: 32px;
}

.descContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
